/* body{
    background-color: rgb(199, 202, 203);
}
h1, p{
    color: burlywood;
}
.text{
    color: blue;
}


#School {
    color: rgb(204, 68, 204);
}

.list li{
    color: rgb(216, 5, 248);
}

.text span{
    color: darkmagenta;
} */

/* .heading~p{
    color: aqua;
} */
/* 
#head{
    color: aqua;
}

.heading{
    color: blue;
}

.heading{
    color: crimson;
}

h1{
    color: chocolate !important
    ;
} */

/* p{
    color: darkblue;
}
span{
    color: inherit;
} */
/* 
body{
    background-color: rgb(130, 131, 147)
} */

h1{
    background-color: rgb(7, 7, 212, 0.1);
}